.container {
    padding: 2% 11%;
    overflow: hidden;
    img {
        width: 100%;
    }
    > div {
        margin-top: 3%;
        font-size: 3.5em;
        border-bottom: 1px solid black;
        width: 80%;
    }
    ul {
        li {
            width: 80%;
            padding: 2% 2%;
            list-style: none;
            font-size: 1.3em;
            border-bottom: 1px solid black;
            color: blue;
            text-decoration: underline;
            cursor: pointer;
            &:hover {
                background-color: rgba(128, 128, 128, 0.192);
            }
        }
    }
}