.container {
    display: grid;
    grid-template-rows: 1fr 10fr;
    width: 100vw;
    height: 100vh;
    nav {
        display: flex;
        justify-content: space-between;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); // Add shadow here
        img {
            height: 50px;
        }
        .left {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-left: 20px;
            span {
                min-width: 200px;
                font-style: italic;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: #007AFF;
                font-weight: bold;
                > div:first-child {
                    font-size: 1.5em;
                }
            }
            a {
                height: 100%;
                width: 150px;
                font-size: 1.2em;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: rgba(128, 128, 128, 0.700);
                font-weight: bold;
                &:hover {
                    color: black;
                    background-color: rgba(128, 128, 128, 0.192);
                }
                &.active {
                    color: black;
                }
            }
        }
        .right {
            display: flex;
            align-items: center;
            gap: 15px;
            position: relative;
            padding-right: 20px;
            button {
                height: 30%;
                width: 50px;
                cursor: pointer;
                font-weight: bold;
                border: none;
                border-radius: 5px;
                &.en {
                    background-color: #007AFF;
                    color: white;
                    &:hover {
                        background-color: #0056b3;
                    }
                }
                &.vi {
                    background-color: red;
                    color: #FFFF00;
                    font-weight: 900;
                    &:hover {
                        background-color: rgb(109, 0, 0);
                    }
                }
            }
            svg {
                height: 25px;
                width: 25px;
                cursor: pointer;
                &:hover {
                    color: rgb(95, 95, 95);
                }
            }
            .popup {
                position: absolute;
                top: 100%;
                right:0;
                width: 100%;
                border: 1px solid black;
                .popupContent {
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    justify-content: center;
                    align-items: center;
                    button {
                        width: 100%;
                        padding: 5% 0;
                        border: none;
                        background-color: white;
                        color: black;
                        font-weight: bold;
                        &:hover {
                            background-color: #f1f1f1;
                    }
                }
                }
            }
            .balance {
                font-style: italic;
                >span {
                    font-size: 1.2em;
                    font-weight: bold;
                    color: red;
                    margin-right: 5px;
                }
            }

        }
    }
}